body {
  background-color: #dddddd;
}

.title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.btn {
  display: block;
  margin: 25px auto;
  border: 3px solid #7289da;
  border-radius: 2rem;
  background-color: #dddddd;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #424549;
}

.grid__container {
  height: 700px;
  width: 700px;
  border: 10px solid #7289da;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  flex: 1;
}

.grid__square {
  border: 1px solid black;
  flex: 1;
}
